<div class="modal-footer">
    <button type="button" id="_confirm" class="btn btn-primary save-button"><i class="fa fa-check"></i> <span>@L("Confirm")</span></button>
    <button type="button" class="btn default close-button" data-dismiss="modal">@L("Close")</button>
</div>