<div class="m-portlet__foot m-portlet__foot--fit m--margin-top-40">
    <div class="m-form__actions m-form__actions">
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-4 m--align-left">
                <a href="#" class="btn btn-secondary m-btn m-btn--custom m-btn--icon" data-wizard-action="prev">
                    <span>
                        <i class="la la-arrow-left"></i>&nbsp;&nbsp;
                        <span>@L("Back")</span>
                    </span>
                </a>
            </div>
            <div class="col-lg-6 m--align-right">
                <a href="#" class="btn btn-primary m-btn m-btn--custom m-btn--icon" data-wizard-action="submit">
                    <span>
                        <i class="la la-check"></i>&nbsp;&nbsp;
                        <span>@L("Submit")</span>
                    </span>
                </a>
                <a href="#" class="btn btn-warning m-btn m-btn--custom m-btn--icon" data-wizard-action="skip" style="display: none;">
                    <span>
                        <span>@L("Skip")</span>&nbsp;&nbsp;
                        <i class="la la-arrow-right"></i>
                    </span>
                </a>
                <a href="#" class="btn btn-warning m-btn m-btn--custom m-btn--icon" data-wizard-action="next">
                    <span>
                        <span>@L("SaveAndContinue")</span>&nbsp;&nbsp;
                        <i class="la la-arrow-right"></i>
                    </span>
                </a>
            </div>
            <div class="col-lg-1"></div>
        </div>
    </div>
</div>