<div class="modal-footer">
    <button type="button" id="_print" class="btn btn-primary"><i class="fa fa-print"></i> <span>@L("Print")</span></button>
    <button type="button" class="btn default close-button" data-dismiss="modal">@L("Close")</button>
</div>