@model Sinodom.ElevatorCloud.Web.Views.Shared.Components.AccountLogo.AccountLogoViewModel
<div class="logo">
    <a href="~/">
        <img src="@Model.GetLogoUrl(ApplicationPath)" alt="" width="139" height="35" />
    </a>
</div>